extends baseEmail

block content
  // Logo and site name at the top
  div(style="text-align: center; margin-bottom: 20px;")
    img(src="https://i.ibb.co/NNbc0wp/logo-icon.png", alt= `${process.env.SITE_NAME} Logo`, style="height: 50px; border-radius: 50%; vertical-align: middle;")
    span(style="font-family: sans-serif; font-size: 24px; font-weight: bold; vertical-align: middle; color: #333; margin-left: 10px;")
      | #{process.env.SITE_NAME}

  // Welcome message
  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;")
    | Dear #{firstName},

  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center;")
    | Welcome to #{process.env.SITE_NAME}! We're excited to have you on board as you embark on a journey to excel in your academics.

  // Call to action button
  div(style="text-align: center; margin: 20px 0;")
    a(href=`${process.env.FRONTEND_BASEURL}/cbt-tests`, target="_blank", style="border: solid 1px #ff3811; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #ff3811; border-color: #ff3811; color: #ffffff;")
      | Explore CBT Tests

  // Additional information
  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center;")
    | At #{process.env.SITE_NAME}, we are dedicated to providing you with a comprehensive and effective way to prepare for your exams using state-of-the-art Computer-Based Testing, innovative audio learning, interactive videos, and engaging animated explanatory videos. Prepare yourself for success with our unique educational experience.

  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center;")
    | Here's what you can expect from your #{process.env.SITE_NAME} educational experience:

  // Feature list
  ul(style="list-style-type: disc; margin: 0 0 0 20px; font-family: sans-serif; font-size: 14px; font-weight: normal; text-align: left;")
    li(style="margin: 0; margin-bottom: 10px;")
      | **Customized Practice:**
      | Access a variety of CBT tests tailored to your exam needs and take your tests exactly how you want them.
    li(style="margin: 0; margin-bottom: 10px;")
      | **Realistic Exam Simulations:**
      | Experience realistic exam scenarios to boost your confidence and get a feel for what it's like to take the actual exam.
    li(style="margin: 0; margin-bottom: 10px;")
      | **Performance Analytics:**
      | Track your progress and identify areas for improvement with our detailed performance analytics.
    li(style="margin: 0; margin-bottom: 10px;")
      | **Advanced Audio Learning:**
      | Engage with interactive audio resources, take audio notes, and control your learning hands-free.
    li(style="margin: 0; margin-bottom: 10px;")
      | **Interactive Videos:**
      | Learn through interactive videos that allow you to engage deeply with the content.
    li(style="margin: 0; margin-bottom: 10px;")
      | **Animated Explanatory Videos:**
      | Understand complex concepts with ease through our engaging animated videos.

  // Sign-in prompt
  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 15px 0; text-align: center;")
    | To get started, simply
    a(href=`${process.env.FRONTEND_BASEURL}/signIn`, style="text-decoration: none; color: #ff3811;")
      | login
    | to your #{process.env.SITE_NAME} account, where you'll find a wealth of resources to help you master your exam topics.

  // Closing and contact information
  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 15px 0; text-align: center;")
    | Thank you for choosing #{process.env.SITE_NAME}. We're here to support you every step of the way. If you have any questions or need assistance, please don't hesitate to contact us at
    a(href=`mailto:${process.env.EMAIL_ACCOUNT}`, style="text-decoration: none; color: blue;")
      | #{process.env.EMAIL_ACCOUNT}
    |.

  // Signature
  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center;")
    | Best regards,
  p(style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; text-align: center;")
    | The #{process.env.SITE_NAME} Team
